.App {
  text-align: center;
  margin-top: 200px;
  margin-left: 500px;
  background-color: rgb(171, 221, 253);
  border: 1px solid blueviolet;
  width: 300px;
  height: 220px;
  border-radius: 10px;
}
